@page
@model AddCarModel
@{
    ViewData["Title"] = "Cars App";
}

<div class="text-center">
    <h1 class="title-style">Cars App</h1>
    <h2 class="subtitle-style">Add new one</h2>
</div>

<form method="post" asp-page-handler="AddCar">

    <div class="form-container">
        <div class="form-column">
            <label for="car-brand">Car brand *</label>
            <input type="text" id="car-brand" asp-for="CarBrand" placeholder="Click to input data...">

            <label for="model">Model *</label>
            <input type="text" id="model" asp-for="Model" placeholder="Click to input data...">

            <label for="production-year">Production year *</label>
            <input type="number" id="production-year" asp-for="ProductionYear" placeholder="Click to input data...">

            <label for="engine">Engine *</label>
            <input type="text" id="engine" asp-for="Engine" placeholder="Click to input data...">

            <label for="transmission">Transmission *</label>
            <input type="text" id="transmission" asp-for="Transmission" placeholder="Click to input data...">

            <label for="fuel-type">Fuel type *</label>
            <input type="text" id="fuel-type" asp-for="FuelType" placeholder="Click to input data...">
        </div>

        <div class="form-column">
            <label for="photos">Photos</label>
            <textarea class="photos-textarea" id="photos" asp-for="Photos" placeholder="Select images to upload"></textarea>

            <label for="options">Options</label>
            <textarea class="options-textarea" id="options" asp-for="Options" placeholder="Add the details here"></textarea>
        </div>
    </div>

    <div class="button-container">
        <button type="submit" class="button">Add new car</button>
        <button type="submit" class="button" asp-page="/Index">Return</button>
    </div>

    @if (Model.ValidationErrors != null && Model.ValidationErrors.Any())
    {
        <div class="validation-container">
            <div class="validation-errors">
                <ul>
                    @foreach (var error in Model.ValidationErrors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        </div>
    }

</form>