@page "{id:int}"
@model Cars_Management.Pages.ModifyCarModel
@{
    ViewData["Title"] = "Modify Car";
}

<div class="text-center">
    <h1 class="title-style">Cars App</h1>
    <h2 class="subtitle-style">Modify car</h2>
</div>

<form method="post">
    <input type="hidden" asp-for="Car.Id" />
    
    <div class="form-container">
        <div class="form-column">
            <label for="car-brand">Car Brand *</label>
            <input type="text" id="car-brand" asp-for="Car.CarBrand" placeholder="Click to input data...">
            <span asp-validation-for="Car.CarBrand"></span>

            <label for="model">Model *</label>
            <input type="text" id="model" asp-for="Car.Model" placeholder="Click to input data...">
            <span asp-validation-for="Car.Model"></span>

            <label for="production-year">Production Year *</label>
            <input type="number" id="production-year" asp-for="Car.ProductionYear" placeholder="Click to input data...">
            <span asp-validation-for="Car.ProductionYear"></span>

            <label for="engine">Engine *</label>
            <input type="text" id="engine" asp-for="Car.Engine" placeholder="Click to input data...">
            <span asp-validation-for="Car.Engine"></span>

            <label for="transmission">Transmission *</label>
            <input type="text" id="transmission" asp-for="Car.Transmission" placeholder="Click to input data...">
            <span asp-validation-for="Car.Transmission"></span>

            <label for="fuel-type">Fuel Type *</label>
            <input type="text" id="fuel-type" asp-for="Car.FuelType" placeholder="Click to input data...">
            <span asp-validation-for="Car.FuelType"></span>
        </div>

        <div class="form-column">
            <label for="photos">Photos</label>
            <textarea class="photos-textarea" id="photos" asp-for="Car.Photos" placeholder="Select images to upload"></textarea>

            <label for="options">Options</label>
            <textarea class="options-textarea" id="options" asp-for="Car.Options" placeholder="Add the details here"></textarea>
        </div>
    </div>

    <div class="button-container">
        <button type="submit" class="button">Save Changes</button>
        <button type="submit" class="button" asp-page="/Index">Return</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
